/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: rgb(62, 62, 62);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  color: #c4c4c4;
  font-family: "Noto Sans JP", sans-serif;
}

/* mixin
-----------------------------------------*/
/* contents
-----------------------------------------*/
.section__ttl {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 48px;
}
@media only screen and (max-width: 767px) {
  .section__ttl {
    font-size: 24px;
  }
}
.section__ttl:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #212121;
  margin: 8px auto;
  border-radius: 16px;
}
.section__container {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
}
@media only screen and (max-width: 1024px) {
  .section__container {
    width: 90%;
    padding: 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  .section__container {
    padding: 42px 0;
  }
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  background: #4a4a4a;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 88px;
  }
}
.header__ttl {
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0 0 0 32px;
}
@media only screen and (max-width: 767px) {
  .header__ttl {
    font-size: 24px;
    margin: 0 0 12px;
  }
}

.gnav {
  margin: 0 32px 0 auto;
}
@media only screen and (max-width: 767px) {
  .gnav {
    width: 100%;
    margin: 0 auto;
  }
}
.gnav__list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .gnav__list {
    justify-content: center;
  }
}
.gnav__item {
  margin: 0 16px 0 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .gnav__item {
    margin: 0 16px;
  }
}
.gnav__item:last-of-type {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .gnav__item:last-of-type {
    margin: 0 16px;
  }
}
.gnav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s ease 0s;
}
.gnav__link:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.gnav__link:hover {
  opacity: 0.6;
}
.gnav__link:hover:after {
  width: 30px;
}

.icon_img {
  border-radius:15%;
  width: 150px;
  margin: 0 0 10px;
}

.video-bg {
  position: relative;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.video-bg::after {
  content: '';
  position: absolute;
  padding-top:20px; 
  padding-bottom:20px;
  padding-left:0px; 
  padding-right:0px;
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.fv {
  background: #606060;
}
.fv__container {
  width: 1024px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .fv__container {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  .fv__container {
    height: 400px;
  }
}
.fv__ttl {
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0 0 32px;
  color: #dcdcdc;
}
@media only screen and (max-width: 1024px) {
  .fv__ttl {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .fv__ttl {
    font-size: 32px;
  }
}
.fv__desc {
  line-height: 1.7;
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px;
  color: #f9f9f9;
}
@media only screen and (max-width: 767px) {
  .fv__desc {
    font-size: 16px;
    margin: 0 0 32px;
  }
  .fv__desc br {
    display: none;
  }
}

.store_img {
  height: 65px;
  width: auto;
}

@media only screen and (max-width: 1024px) {
  .store_img {
    height: auto;
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .tbl_a th,
  .tbl_a td{
  display: block;
  border-top: none;
  }
}

#gallery{
	list-style:none; /*箇条書きの・を削除*/
	overflow:hidden;
	padding-left:0;
  margin: 0 0 0;
	text-align: center;
}
#gallery li{
	float: left; 
	width: calc(100%/3);
	line-height: 0;
/*  margin: 0 0 100px;*/
}
#gallery img{
	display: inline; /*imgタグの初期値はinline⇒blockで幅指定を出来るように*/
	height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px; 
  padding-bottom:20px;
  padding-left:20px; 
  padding-right:20px;
}

@media only screen and (max-width: 767px) {
  #gallery img{
    display: block;
    height:100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px; 
    padding-bottom:20px;
    padding-left:0px; 
    padding-right:0px;
  }
}

.about {
  background: #3f3f3f;
}
.about__desc {
  width: 600px;
  margin: 0 auto 80px;
  text-align: center;
  line-height: 1.7;
}
@media only screen and (max-width: 767px) {
  .about__desc {
    width: 100%;
    font-size: 14px;
    margin: 0 auto 48px;
  }
}
.about__item {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0 0 48px;
  flex-wrap: wrap;
}
.about__img {
  width: 50%;
}
.about__img img {
  width: 100%;
}
.about__img.is-2 {
  order: 1;
  margin: 0 0 0 auto;
}
@media only screen and (max-width: 1024px) {
  .about__img.is-2 {
    margin: 0 0 24px;
    order: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .about__img {
    width: 100%;
    margin: 0 0 24px;
  }
}
.about__contents {
  width: 47%;
  margin: 0 0 0 auto;
}
.about__contents.is-2 {
  order: 0;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .about__contents {
    width: 100%;
  }
}
.wrap {
  position: relative;
  background: rgba(0, 0, 0, 0);
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 10px;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}

.about__subttl {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 16px;
  display: flex;
  width: 150px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .about__subttl {
    width: 100%;
    background: none;
    border-bottom: 1px solid #ccc;
  }
}
.about__subdesc {
  line-height: 1.7;
}
@media only screen and (max-width: 767px) {
  .about__subdesc {
    font-size: 14px;
  }
}

.otherLink {
  background: #727272;
}
.otherLink__desc {
  width: 800px;
  margin: 0 auto;
  line-height: 1.7;
}
@media only screen and (max-width: 1024px) {
  .otherLink__desc {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .otherLink__desc {
    font-size: 14px;
  }
}
.otherLink__li {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .otherLink__li {
    display: inline;
  }
}

.otherLink__page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5b5b5b;
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: 0 5px #151515;
  transition: all 0.1s ease 0s;
  border: 2px solid #565757;
  margin: 60px auto;
}

.otherLink__page:hover {
  box-shadow: none;
  background: rgb(62, 62, 62);
  color: #e1e1e1;
}
@media only screen and (max-width: 767px) {
  .otherLink__page {
    font-size: 12px;
    width: 200px;
    height: 50px;
  }
}

.footer {
  background: #212121;
  padding: 24px 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
  }
}

.footer__li {
  display: flex;
  height: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .footer__li {
    display: flex;
    height: 30px;
  }
}

.footer__page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 1px;
  transition: all 0.5s ease 0s;
  margin: 0px auto;
}

@media only screen and (max-width: 767px) {
  .footer__page {
    font-size: 10px;
  }
}